@import url('https://fonts.cdnfonts.com/css/monaco');

:root {
    --main-radius: 8px;
    --main-padding: 5px;
    --color-primary: #c4950b;
    --color-secondary: #411F1F;
    --color-background: #000000;
    --color-text:#ffffff;
    
  }
  
  body {
    font-family: "Inter", 'Monaco';
    background-color: #000000;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;

  }
/*  
  .grid {
    position: block; 
    .block-flow {
  margin-block-start: min(4rem, 8vh);
}
}*/
/* grid Layout */

  .containerTitle {
    display: grid;
    position: block;
    margin-left: 5vw;
    margin-right: 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr 1.2fr 0.2fr;
    grid-template-areas:
      "nav nav nav"
      "main main main"
      "content1 content2 content3"
      "ubicacion ubicacion ubicacion"
      ;
    grid-gap: 1rem;
    font-weight: 800;
    text-transform: none;
    font-size: 0.8em;
    text-align: center;
    
  }

  main {
    background: none;
    color: #ffffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  

  .titulo {
    font-size: 8em;
    font-weight: 700;
    text-transform: none;
    content: center;
    justify-self: center;
    align-self: center;
    font-family: 'Monaco';
    

  }

  .letra {
    
    width: 100%;
    height: auto;
    max-width: 0.85em; 
    margin-bottom: -8px;
  }

  #rotating-image {
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 10s linear infinite; /* animación que gira eternamente */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); } /* comienzo de la rotación */
    100% { transform: rotate(360deg); } /* fin de la rotación */
  }

  
  nav {
    background-color: none;  
    color: #ffffff;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  .bibi-instagram {
    position: block;
    height: 5rem;
    width: 5rem;
    color:#c4950b;
    padding-top: 0.5rem;   
  }


  
  #content1 {
    background:#411F1F;
    color:#ffffff;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: clamp(40px, 3.5vw ,70px);
    content: center;
    align-self: center;
    
  } 
  #content2 {
    background:#c4950b;
    color:#ffffff;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: clamp(40px, 3.5vw ,70px);
    content: center;
    align-self: center;
  }
  
  #content3 {
    background:#927008;
    color:#ffffff;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: clamp(40px, 3.5vw ,70px);
    content: center;
    align-self: center;
  }
  



/* Galeria de videos */
  .containerGaleria {
    display: grid;
    margin-top: 0.3em;
    /*background-color: #c4950b;*/
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-auto-rows: 6rem;
    grid-auto-flow: dense;
    grid-gap: 0.5rem;
    margin-inline: 15%;
  }
  
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #divgaleria {
    overflow: hidden;
    border-radius: var(--radius);
  }
  
  #divgaleria:nth-child(5n) {
    grid-row: span 3;
    grid-column: span 1;
  }
  
  #divgaleria:nth-child(5n + 1) {
    grid-row: span 2;
  }
  
  #divgaleria:nth-child(5n + 2) {
    grid-column: span 3;
  }
  
  #divgaleria:nth-child(5n + 3) {
    grid-row: span 4;
    grid-column: span 2;
  }
  
  #divgaleria:nth-child(5n + 4) {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  
 



/* Logo ubicación*/
  .bibi-geo-alt-fill {
    position: block;
    height: 5rem;
    width: clamp(3rem, 2.091rem + 2.424vw, 5rem);
    color:#c4950b;
     
  }

  .textoUbicacion {
    position: block;
    justify-content: center;
    align-items: center;
    grid-area: ubicacion;
    font-size: clamp(2rem, 1.091rem + 2.424vw, 4rem);
    justify-self: center;
    align-self: center;
    color: #ffffff;

}


/* Mezcla en vivo texto */
h3 {
  position: block;
  justify-content: center;
  align-items: center;
  grid-area: ubicacion;
  font-size: clamp(2rem, 1.091rem + 2.424vw, 4rem);
  justify-self: center;
  align-self: center;
  color: #ffffff;
}


.videoqs {
  position: absolute;

  width: 100%;
  height: 100%;
  
}

#iframeqs {
  width: 30vw;

}





              /* css para celular */
            @media only screen and (max-width: 600px) {
             

                  /*layout inicial*/
                  .containerTitle {
                    position: block;                    
                    grid-template-columns: 1fr;
                    grid-template-rows: 0.6fr 3fr 1fr 1fr 1fr 1fr ;
                    grid-gap: 0.5rem;
                    grid-template-areas:
                      "nav"
                      "main"
                      "content1"
                      "content2"
                      "content3"
                      "ubicacion"
                      ;
                    margin-inline: 2%;
                } 
                  #titulo {
                    font-size: 9.5em;

                  }
                  #content1 {
                      background:#411F1F;
                      color: #ffffff;
                      grid-area: content1;
                      border-radius: var(--main-radius);
                      padding-top: var(--main-padding);
                      font-size: 3.6em;
                      content: center;
                      justify-content: center;
                      align-items: center;
                  
                    }
                    
                    #content2 {
                      background: #c4960b8f;
                      color: #ffffff;
                      grid-area: content2;
                      border-radius: var(--main-radius);
                      padding-top: var(--main-padding);
                      font-size: 3.6em;
                      content: center;
                      justify-content: center;
                      align-items: center;
                    }
                    
                    #content3 {
                      background:#c4960b42;
                      color: #ffffff;
                      grid-area: content3;
                      border-radius: var(--main-radius);
                      padding-top: var(--main-padding);
                      font-size: 3.6em;
                      content: center;
                      justify-content: center;
                      align-items: center;
                    }


                    /* galeria en movil */
                    .containerGaleria {
                      margin-inline: 0%;
                    }

                    /*v7*/
                    .achicarvideo1 {
                      
                    }

                    /* v9*/
                    .achicarvideo2 {
                      display: none;
                    }



                /* mediaquery para galeria de iframes*/

                  .slider-container {
                    display: flex;
                    font-family: "Inter", 'Monaco';
                    color: #ffffff;
                    font-weight: 800;
                    text-transform: none;
                    font-size: 0.8em;
                    text-align: center;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                  }
                  .slider-images{
                    display: flex;
                    align-items: center;
                  
                  }
                  .slider-images iframe{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 6px;
                  }
                  .slider-img{
                    width: 8vw;
                    border-radius: 6px;
                    cursor: pointer;
                    position: relative;
                    transition: 0.2s ease;
                  }
                  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
                    height: 400px;
                  }
                  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
                    height: 400px;
                  }
                  .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
                    height: 585px;
                  }
                  .slider-img.active{
                    width: 45.6vw !important;
                    height: 650px !important;
                  }
                  /* media querys para el texto */

                  h1 {
                    display: none;
                  }

                  h2 {
                    display: none;

                  }
                  .details {
                    display: none;

                  }
                  .details h2 {
                    display: none;

                  }
                  .details p {
                    display: none;

                  }
                  #contenedor {
                    pointer-events: auto;
                  }
                  #iframe {
                    pointer-events: auto ; 
                  }
                  #iframe.inactivo {
                    pointer-events: none; 
                  }
    
                  
                }

                




                  /* para hacer funcionar en pantalla 1920*/
          @media only screen and (min-width: 1827px){

            .containerTitle {
              margin-inline: 8vw;
            }  /*para que el hero se vea bien en pantallas wide */


            

          }

          /* Código para liberar el estilo de 600px para abajo */
          @media only screen and (min-width: 600px){

            /* iframes */
              #contenedor {
                pointer-events: auto;
              }
              #iframe {
                pointer-events: auto ; 
              }
              #iframe.inactivo {
                pointer-events: none; 
              }

              /* galería con iframes*/

              .slider-container {
                display: flex;
                font-family: "Inter", 'Monaco';
                color: #ffffff;
                font-weight: 800;
                text-transform: none;
                font-size: 0.8em;
                text-align: center;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
              }
              .slider-images{
                display: flex;
                align-items: center;
              
              }
              .slider-images iframe{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
              }
              .slider-img{
                width: 5.7vw;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                transition: 0.2s ease;
              }
              .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
                height: 400px;
              }
              .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
                height: 400px;
              }
              .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
                height: 585px;
              }




              h1{
                border-radius: var(--main-radius);
                white-space: nowrap;
                font-size: clamp(1rem, -0.05rem + 112vw, 2.75rem);
                font-weight: 700;
                text-align: left;
                color: #ffffff;
                position: absolute;
                top: 50%;
                left: -70%;
                transform: rotate(270deg);
                transition: 0.7s ease;
                content: center;
                justify-self: center;
                align-self: center;
                padding: 10%;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                opacity: 0.95;
              }


              h2 {
                border-radius: var(--main-radius);
                content: center;
                justify-self: center;
                align-self: center;
                padding: 2%;
                border-radius: 10%;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                opacity: 0.95;

              }
              .details{
                position: absolute;
                bottom: 43px;
                left: 43px;
                opacity: 0.95;
                

              }
              .details h2{
                flex-wrap: wrap;
                border-radius: var(--main-radius);
                font-size: clamp(1rem, 0.583rem + 133.333vw, 2rem);
                font-weight: 700;
                line-height: 44px;
                text-align: center;
                color: #ffffff;
                transition: 0.7s ease;
                display: none;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                opacity: 0.95;
              }
              .details p{
                border-radius: var(--main-radius);
                padding: 2%;
                font-size: 20px;
                font-weight: 700;
                line-height: 33px;
                text-align: center;
                color: #ffffff;
                transition: 0.7s ease;
                display: none;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                opacity: 0.95;
              }   
              /*Hover effect*/  
              .slider-img.active{
                width: 34.6vw !important;
                height: 650px !important;
              }
              .slider-img.active h1{
                display: none;
              }
              .slider-img.active .details p, .slider-img.active .details h2{
                display: block;
              }



              .color1 {
                background-color:#411F1F;
              }

              .color2 {
                background-color:#c4950b; 
              }

              .color3 {
                background-color: #927008; 
              }



              #kenovertical {
                left: -150%;
                top: 50%;
              }
              #alivertical {
                left: -185%;
                top: 57%;
              }
              #cadenciavertical {
                left: -215%;
                top: 59%;
              }
              #FelioArchipielago {
                left: -140%;
                top: 48%;
              }
              #FelioEmperatriz {
                left:  -140%;
                top: 48%;
              }
              #FelioConosur {
                left: -140%;
                top: 47%;
              }

          }